attrs
Automat
certifi
cffi
charset-normalizer
constantly
contourpy
cryptography
cssselect
cycler
defusedxml
filelock
fonttools
h11
hyperlink
idna
itemadapter
itemloaders
jmespath
kiwisolver
lxml
matplotlib
numpy
opencv-python
packaging
pillow
Protego
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
pyparsing
PySocks
python-dotenv
queuelib
requests
requests-file
scipy
Scrapy
scrapy-selenium
selenium
service-identity
setuptools
six
sniffio
sortedcontainers
tldextract
trio
trio-websocket
Twisted
typing_extensions
urllib3
w3lib
webdriver-manager
websocket-client
wsproto
zope.interface
